<% layout('./Layout/layout.ejs') -%>

    <div id="content" class="app-content">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:;">PAGES</a></li>
            <li class="breadcrumb-item active">DASHBOARD</li>
        </ol>
        <h1 class="page-header">
            Dashboard <small>stats, overview &amp; performance</small>
        </h1>
        <div class="row">
            <div class="col-lg-6">
                <div class="card mb-3 flex-1">
                    <!-- BEGIN card-body -->
                    <div class="card-body">
                        <div class="d-flex mb-3">
                            <div class="flex-grow-1">
                                <h5 class="mb-1">Total Students</h5>
                                <div>Store user account registration</div>
                            </div>
                        </div>

                        <div class="d-flex">
                            <div class="flex-grow-1">
                                <h3 class="mb-1">
                                    <%= data.total_student %>
                                </h3>
                            </div>
                            <div
                                class="w-50px h-50px bg-primary bg-opacity-20 rounded-circle d-flex align-items-center justify-content-center">
                                <i class="fa fa-user fa-lg text-primary"></i>
                            </div>
                        </div>
                    </div>
                    <!-- END card-body -->
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card mb-3 flex-1">
                    <!-- BEGIN card-body -->
                    <div class="card-body">
                        <div class="d-flex mb-3">
                            <div class="flex-grow-1">
                                <h5 class="mb-1">Total Faculty</h5>
                                <div>Store user account registration</div>
                            </div>
                        </div>

                        <div class="d-flex">
                            <div class="flex-grow-1">
                                <h3 class="mb-1">
                                    <%= data.total_faculty %>
                                </h3>
                            </div>
                            <div
                                class="w-50px h-50px bg-primary bg-opacity-20 rounded-circle d-flex align-items-center justify-content-center">
                                <i class="fa fa-user fa-lg text-primary"></i>
                            </div>
                        </div>
                    </div>
                    <!-- END card-body -->
                </div>
            </div>



            <div class="col-lg-4">
                <div class="card mb-3 flex-1">
                    <!-- BEGIN card-body -->
                    <div class="card-body">
                        <div class="d-flex mb-3">
                            <div class="flex-grow-1">
                                <h5 class="mb-1">Total Classes</h5>
                                <div>Store user account registration</div>
                            </div>
                        </div>

                        <div class="d-flex">
                            <div class="flex-grow-1">
                                <h3 class="mb-1">
                                    <%= data.total_classes %>
                                </h3>
                            </div>
                            <div
                                class="w-50px h-50px bg-primary bg-opacity-20 rounded-circle d-flex align-items-center justify-content-center">
                                <i class="fa fa-book fa-lg text-primary"></i>
                            </div>
                        </div>
                    </div>
                    <!-- END card-body -->
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card mb-3 flex-1">
                    <!-- BEGIN card-body -->
                    <div class="card-body">
                        <div class="d-flex mb-3">
                            <div class="flex-grow-1">
                                <h5 class="mb-1">Total Subjects</h5>
                                <div>Store user account registration</div>
                            </div>
                        </div>

                        <div class="d-flex">
                            <div class="flex-grow-1">
                                <h3 class="mb-1">
                                    <%= data.total_subjects %>
                                </h3>
                            </div>
                            <div
                                class="w-50px h-50px bg-primary bg-opacity-20 rounded-circle d-flex align-items-center justify-content-center">
                                <i class="fa fa-book fa-lg text-primary"></i>
                            </div>
                        </div>
                    </div>
                    <!-- END card-body -->
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card mb-3 flex-1">
                    <!-- BEGIN card-body -->
                    <div class="card-body">
                        <div class="d-flex mb-3">
                            <div class="flex-grow-1">
                                <h5 class="mb-1">Total Attendances</h5>
                                <div>Track student attendance</div>
                            </div>
                        </div>

                        <div class="d-flex">
                            <div class="flex-grow-1">
                                <h3 class="mb-1">
                                    <%= data.total_attendances %>
                                </h3>
                            </div>
                            <div
                                class="w-50px h-50px bg-primary bg-opacity-20 rounded-circle d-flex align-items-center justify-content-center">
                                <i class="fa fa-check fa-lg text-primary"></i>
                            </div>
                        </div>
                    </div>
                    <!-- END card-body -->
                </div>
            </div>
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4>Recent Attendance</h4>
                        <div class="table-responsive">

                            <!-- Table of Attendance -->
                            <table class="table table-bordered attendance-table" id="attendanceTable">
                                <thead class="thead-dark ">
                                    <tr>
                                        <th>
                                            #
                                        </th>
                                        <th>Student Number</th>
                                        <th>Name</th>
                                        <th>Class</th>
                                        <th>Subject</th>
                                        <th>Attendance Date</th>
                                        <th>Status</th>
                                        <th>Logs</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% get_attendance.forEach((attendance, index) => { %>
                                        <tr>
                                            <td><%= index + 1 %></td>
                                            <td><%= attendance.student_id %></td>
                                            <td><%= attendance.student_name %></td>
                                            <td><%= attendance.class_name %></td>
                                            <td><%= attendance.subject_name %></td>
                                            <td><%= new Date(attendance.log_date ).toLocaleDateString('en-US', {
                                                year: 'numeric',
                                                month: 'long',
                                                day: 'numeric'
                                            }) %></td>
                                            <td>
                                                <span class="<%= attendance.status === 'Present' ? 'text-success' : attendance.status === 'Absent' ? 'text-danger' : '' %>">
                                                    <%= attendance.status || 'N/A' %>
                                                </span> <!-- Attendance status -->
                                            </td>
                                      
                                            <td><%= attendance.logs %></td>
                                        </tr>
                                    <% }); %>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

