<% layout('./Layout/layout.ejs') -%>

    <div id="content" class="app-content">

        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/faculty/classes">MANAGE CLASSES</a></li>
        </ol>
        <h1 class="page-header">
            Manage Classes <small>overview &amp; actions</small>
        </h1>


        <div class="row g-3">
            <% class_records.forEach(function(classItem) { %>
                <div class="col-lg-3">
                    <div class="card h-100">


                        <div class="card-body">
                            <h5 class="card-title">
                                Class Name: <%= classItem.class_name %>
                            </h5>

                            <p class="card-text">Room Number: <%= classItem.room_number %> <br>

                                

                                        Subject Name: <%= classItem.subject_name %> <br>
                                        Description: <%= classItem.description %> <br>
                                        Academic Year: <%= classItem.academic_year %> <br>
                                        Time/Day: <%= classItem.time_day %> <br>
                                        Type: <%= classItem.type %> <br>
                                        Semester: <%= classItem.semester %> <br>
                            </p>
                            <span>
                          
                            </span>
                            <a href="/faculty/class/<%= classItem.class_id %>" class="btn btn-primary btn-sm">View Class</a>
                            
                        </div>

                    </div>
                </div>
                <% }); %>
        </div>

    </div>