<%-include ('../Partials/head.ejs')%>
    <div id="app" class="app">
        <%-include ('../Partials/header.ejs')%>

        <%-include ('../Partials/sidebar.ejs')%>

        <%-body-%>

        <%-include ('../Partials/scroll-top-btn.ejs')%>
    </div>
<%-include ('../Partials/script.ejs')%>

